nav.navbar.navbar-fixed-top
    p.pull-left.navbar-text Period #{+globals.period+1} out of #{globals.numPeriods}
    p.pull-right.navbar-text Time remaining: 
        span#time #{time}
.container(style="padding-top:50px")
    .jumbotron
        .container
            p Your endowment: #{globals.endowment}
            p Your offer: 
            input#offer.required(data-type="number", data-range="[0,#{globals.endowment}]")
            br
            button#submit.btn Submit
